<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
<script src="https://cdn.bootcdn.net/ajax/libs/prism/1.20.0/components/prism-core.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/prism/1.20.0/plugins/autoloader/prism-autoloader.min.js"></script>
<div id = "wrap">
    <%- partial('_partial/header') %>
	<main class = 'main' onchange="FanfouFix();">
		<%- body %>
	</main>
  <%- partial('_partial/footer') %>
</div>
</body>
</html>
