<style>
  p {
    text-align: center;
  }
  .portal-main {
    max-width: 400px;
    margin: auto;
    padding: 50px;
  }
  .portal-main ul {
      padding: 0;
      list-style: none;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
    .portal-main li{
      -webkit-box-flex: 1;
      height: 50px;
    }
    .portal-main li a {
      color:black;
      text-transform: uppercase;
      display: block;
      margin: auto;
      line-height: 50px;
      height: 50px;
      text-align: center;
    }
</style>
<div class="portal-main">
  <ul>
    <% for (name in site.data.portal) { %>
      <li><a href="<%= site.data.portal[name] %>" target="_blank" class="underline-trans"><%= name %></a></li>
    <% } %>
</ul>
<%- page.more %>
</div>
