@import "_partial/markdown";
html, body, #wrap
  height: 100% //fullscreen height
.seriffont
  font-family: "Libre Baskerville", Baskerville, Georgia, "Noto Serif CJK SC", SourceHan-S-SC,STSong, SimSun, serif
*
  transition: all 0.1s
p, h1, h2, h3, h4, h5, a, span
  font-family: "Libre Baskerville", Baskerville, Georgia, "Noto Serif CJK SC", STSong, SimSun, serif
code, code span
  font-family: monospace
hr
  border: 1px solid #ddd;
a
  text-decoration: none;
  color: #0031a7;
  
a:hover
  color: #5f7ebb
:visited
  color: #006dc7
#wrap
  margin: 0 auto;
  max-width: 800px;
.greyblock
  background: lightgrey;
  color: grey;
.main
//  background: whitesmoke;
  margin: 0 0;
  padding: 10px 30px;
  min-height: 100px;
  height: 100%
.markdown-body
    box-sizing: border-box;
figure
    margin: 15px 0;
code
    font-size: 14px
.button
    -moz-appearance: button
    -webkit-appearance: button
    appearance: button
    padding: 5px
@import "_variables";
@import "_partial/header";
@import "_partial/footer";
@import "_partial/index";
@import "_partial/article"
@import "_partial/highlight"
@import "_partial/fanfou"
@import "_partial/banner"
