a
  text-decoration: none;
  color: #0066bb;
a:hover
  color: darkorange;
:visited
  color: #003399;
#wrap
  margin: 0 auto;
  max-width: 960px;
.greyblock
  background: lightgrey;
  color: grey;
.main
  background: whitesmoke;
  margin: 0 0;
  padding: 10px 30px;
  min-height: 100px;
.markdown-body
    box-sizing: border-box;
    padding: 0 15px;

@import "_partial/header";
@import "_partial/footer";
@import "_partial/index"
