<header id="header">
  <div id="nav">
    <div id="nav-items">
      <% for (name in config.nav) { %>
      <div class="underline-trans">
        <a href="<%- url_for(config.nav[name]) %>"><%= name %></a>
      </div>
      <% } %>
    </div>
  </div>
</header>
