<header id = "header">
    <div id="nav">
		<div id = "nav-items">
      <% for (name in site.data.nav) { %>
        <div class="underline-trans"><a href="<%- url_for(site.data.nav[name]) %>" ><%= name %></a></div>
      <% } %>
		</ul>
	</div>
</header>

