#banner-text {
	text-align:center
  user-select: none
	min-height: calc(100vh - 20px)
	display: flex
	flex-direction: column
	justify-content: center
}
.main {
	padding-top: 0	
}
#banner-text h1 {
	margin: 0
	font-size: 10em
	display: inline-block
	//margin-bottom: auto
	transition: all ease 1s;
	cursor: pointer
}
#banner-text h1:hover {
	letter-spacing: 10px
	color: rgba(0,0,0, 0.8)
}
#banner-text h3 {
	margin: 0
	font-weight: normal
}
