/*
.fanfou_statuses ul
  list-style: none
  padding: 0
.fanfou_statuses .stamp
  margin-left: 10px
.fanfou_statuses >ul>li:first-child
  float: left
.fanfou_statuses .fanfou_statuses_more
  float: right
.fanfou_statuses
  border-bottom: 1px solid #ddd
.fanfou_statuses ul:after {//clear fix
  *overflow: hidden; *zoom: 1;
  display: table; content: ""; width: 0; clear: both;
}
*/
.fanfou_statuses ul li 
  border-bottom: 1px solid #ddd
.fanfou_statuses>ul:first-child
  border-top: 1px solid #ddd
.fanfou_statuses
  font-family: "Libre Baskerville", Baskerville, Georgia, "Noto Serif CJK SC", STSong, SimSun, serif
  overflow: hidden
  transition: max-height ease 0.5s
.fanfou_statuses>ul
  list-style: none
  padding: 0
  margin: 0
  line-height: 2em
a[href="http://fanfou.com/"]
  display: none
.hidden-fanfou
  max-height: 0px
  border-bottom: none
.shown-fanfou
  max-height: 300px