#nav {
    margin: 0 0;
    height: 20px;
}
#header-text {
    padding: 20;
    padding-bottom: 0;
}
#header-text h1 {
  cursor: pointer;
}
#nav-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}
#nav-items div{
    -webkit-box-flex: 1;
    text-align:center
}
#nav-items a {
    color:black
    font-size:0.7em
    text-transform: uppercase
}
.underline-trans{
            position: relative;
            text-decoration: none;
            color: #333;
        }
.underline-trans:before{
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            height: 2px;
            width: 100%;
            background: black;
            transform: scale(0);
            transition: all 0.3s;
        }
.underline-trans:hover:before{
            transform: scale(1);
        }