#nav {
    margin: 0 0;
    height: 20px;
}
#header-text {
    padding: 20;
    padding-bottom: 0;
}
#nav-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}
#nav-items li{
    -webkit-box-flex: 1;
}

#nav-items li a {
    display: block;
    text-transform: uppercase;
    text-align: center;
    transition: background 0.5s;
}
#nav-items li a:hover {
    background: grey;
    color: lightgrey;
}
