.hljs-line-numbers {
  text-align: right;
  border-right: 1px solid #ccc;
  color: #999 !important;
  width: 34px;
  overflow: hidden !important
  cursor: pointer
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.collapse > .hljs-line-numbers:before
  content: "[+]"
  color: #999
  position: absolute
  margin: 5px
  font-size:8px
.collapse
  max-height: 30px
  overflow: hidden
.expand > .hljs-line-numbers:after
    content: "[-]"
    color: #999
    font-size:8px
.expand
  max-height: 10000px
  overflow-y: hidden
