.index.post-title-link
  float: left
.index.post-time
  float: right
.clear
  clear: both
.index.post-categories, .index.post-tags
  float: right
  margin-right: 5px
.index.post-tags
  border-right: 1px solid lightgrey
  padding-right: 5px
.index.post-excerpt *
  display: inline
.index.post
  padding: 10px 0;
  font-size: 1.2em;
  border-bottom: 1px solid #ddd
.index.post:last-child
  border:none
.fanfouReminder>span>a
  cursor: pointer